POSTGRES_USER=cdv_user
POSTGRES_PASSWORD=9mR2!kQ7vL4#tX8pN1sD
POSTGRES_DB=cdv_db

DB_USER=cdv_user
DB_PASSWORD=9mR2!kQ7vL4#tX8pN1sD
DB_NAME=cdv_db

JWT_SECRET=4Pz8#Lm2vQ9sT1xK7nD5rH0yW3bC6fJ8uE2
CORS_ALLOW_ORIGIN=https://casadelvalle.online


